* {
    font-family: cursive;
    font-weight: 100;
    font-size: 20px;
}

.nav__responsive-ul {
    display: none;
}

.nav {
    background-color: #48e;
}

.nav__li {
    display: inline-block;
    padding: 12px;
    color: #ffffff;
}

.nav__li:hover > a {
    color: #bbb;
}

.nav__li:hover {
    color: #bbb;
}

.nav__li a {
    color: #ffffff;
    text-decoration: none;
}

.nav__li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

.nav__responsive-button-container {
   position: absolute;
   width: 100%;
   font-size: 25px;
   background-color: #69c;
   margin-top: -64px;
   z-index: 100;
}

.nav__responsive-button {
    padding: 6px 20px;
    text-align: right;
    width: 100%;
    
}

/* Aquí creeé la propiedad que hace que el menú mobile no se vea con una resolución mayor de 500px */

@media only screen and (max-width: 500px) {
    .nav__ul {
        display: none;
    }

    .nav {
        height: 37px;
        width: 100%;
        background-color: #69c;
    }

    .nav__responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 37px;
        padding-top: 27px;
        height: 37px;        
    }

    .nav__li-container {
       position: relative;
       top: -1000px; 
       height: calc(100vh - 64px);
       background: #9bf;
       transition: all 1s;
       z-index: 1;
       width: 75%;
       padding-top: 27px;
    }

    .nav__responsive-li {
        width: 100%;
        padding: 9px 20px;
    }

    .nav__responsive-li i {
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
        color: #016;
    }

    .nav__responsive-li a {
        color: #016;
        text-decoration: none;
    }

    /* Este nav de ul con hover hace que solo aparezca el menú mobile (.nav__li-container) cuando pasamos el cursor por encima del botón de as barras, y como en mobile no se puede pasar el cursor porque no existe un cursor, sería pulsando en dicho icono */

    .nav__responsive-ul:hover > .nav__li-container {
        top: -27px; 
    }

}